* {
  margin: 0;
  padding: 0;
}

.Pagina {
  display: grid;
  grid-template-columns: 0fr 1fr;
  background: linear-gradient(#0F2027,#203A43,#2C5364);
}

/*----------------------------------MENU------------------------------------*/

.Menu {
  background: white;
  border: 5px 5px solid black;
  min-width: 30vw;
  min-height: 100vh;
}

.Funcionalidades {
  background: linear-gradient(#0F2027,#121f24,#21404d);
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid black;
}

.BotaoMenu {
  height: 30px;
  margin: 5px;
}

.ImgDaListaDeMatch {
  height: 100px;
  width: 100px;
  border-radius: 70px;
  margin: 5px;
  margin-right: 20px;
}

.ListaDeMatch{
  display: flex;
  align-items: center;
}

/*----------------------------------LAYOUT------------------------------------*/
.Layout {
  display: grid;
  grid-template-rows: 0fr 1fr;
}

.ConteinerLogo {
  color: white;
  display: flex;
  justify-content: center;
}

.Logo {
  margin: 30px;
}

.ConteinerMatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid  black;
  height: 70vh;
  position: relative;
  margin: 20px;
}

.Img {

  width: 30vw;
  height: 70vh;
}

.ConteinerCentral{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ConteinerTotal{
  background: white;
  border: 3px solid black;
  text-align: center;
}

.BotoesMatch {
  margin: 15px;
  background: transparent;
}

#Vermelho {
  position: absolute;
  border-radius: 100px ;
  width: 70px;
  height: 70px;
  border: 2px solid red;
}
#Verde{
  border-radius: 100px ;
  width: 70px;
  height: 70px;
  border: 2px solid green;
}

.ImgMatch{
  width: 45px;
}

#Vermelho :hover {
  width: 50px;
}

#Verde :hover {
  position: relative;
  width: 50px;
}

.textoDiv{
  position: absolute;
  text-align: left;
  bottom: 0;
  left: 0;
  color: red;
}

